@charset "utf-8";

.menu {
    font-family: Consolas, monospace;
    text-align: center;
}

.menu > h1 {
    font-size: 32px;
    margin: 24px 0px 8px 0px;
}

.menu > h1 {
    font-size: 28px;
}
