@charset "utf-8";

.menu {
    font-family: Consolas, monospace;
    text-align: center;
    margin: 0px auto 0px auto;
    width: 400px;
}

.menu > h1 {
    font-size: 24px;
    margin: 24px 0px 8px 0px;
}

.menu > h2 {
    font-size: 22px;
    margin: 8px 0px 32px 0px;
}

.menu > dl {
    text-align: left;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    line-height: 22px;
}

.menu > dl > dd {
	text-align: right;
}

.menu > dl > dt,
.menu > dl > dd {
    width: 50%;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
